<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Search Vendor Solution</h1>
<input type="search" value="Vendor Solution">
<input type="button" value="Search Now">
<input type="button" value="Add New Vendor Solution">

<h5>Select Solutions then submit request below</h5>
<hr/>
<form>
    <div *ngFor="let eachData of data; let i = index">
        <div *ngIf=eachData.editable>
            <input type="checkbox" value="checkbox1">
            <input type="text" value={{eachData.title}}>
            <h6>{{eachData.details}}</h6>

            <input type="text" value={{eachData.text}}>

            <h5><span class="glyphicon glyphicon-tag"></span>Add Tag</h5>
            <select>
                <option>Start Typing New Tag Name or select one to many options from the dropdown</option>
            </select>
            <br/>
            <h4>Tags</h4>
            <p>tag name 1, tag name 2, tag name 3</p>
            <input type="button" value="CANCEL" (click)="cancel(i)">
            <input type="submit" value="SAVE EDITS">
            <hr/>
        </div>
        <div *ngIf=!eachData.editable>
            <div class="a">
            <input type="checkbox" value="checkbox1">
            <h2>{{eachData.title}}</h2>
            <button type="button" class="btn btn-default btn-sm" id="btn" (click)="showEditView(i)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <h6>{{eachData.details}}</h6>
            <p>{{eachData.text}}</p>
            <span class="glyphicon glyphicon-tag"></span> tag name1, tag name 2, tag name 3, tag name 4, tag name 5, 4+
            <hr/>
            </div>
        </div>
    </div>
</form>-->
<div class="container">
<h2 class="mb-5">{{title}}</h2>
<app-vendor-solution></app-vendor-solution>
</div>